.container>*{
        background-color: #351165;
        padding: 40px;
        border-radius: 30px;
 }

 header{
    grid-area: header ;
 }

 nav {
    grid-area: navbar ;
 }

 main{
    grid-area: main ;
 }

 aside{
    grid-area: aside ;
 }  

 footer{
    grid-area: footer ;
 }

 .container {
    display: grid;
    gap: 30px;
    grid-template-areas: 
    
    "header header navbar navbar navbar navbar"
    "header header main   main   main   main "
    "aside  aside  aside  aside  footer footer"
 }
 
 /* .hide { */
   display: none !important;
 }

@media screen and (max-width:576px) {

   /* .container{ */
      display: grid;
      gap: 20px;
      grid-template-areas: 
    
    "header"
    "navbar"
    "main"
    "aside"
    "footer"
   }

   /* #skills-card{ */
      padding-top: 40px;
      flex-direction: column ;
      padding: auto;
   }
}