.container>*{
        background-color: #351165;
        padding: 40px;
        border-radius: 30px;
 }

 header{
    grid-area: header ;
 }

 nav {
    grid-area: navbar ;
 }

 main{
    grid-area: main ;
 }

 aside{
    grid-area: aside ;
 }  

 footer{
    grid-area: footer ;
 }

 .container {
    display: grid;
    gap: 30px;
    grid-template-areas: 
    
    "header header navbar navbar navbar navbar"
    "header header main   main   main   main "
    "aside  aside  aside  aside  footer footer"
 }

 /* .youtube-img{ */
   background-size: ;
 }